body {
  background-image: url(./images/fondonuevo.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #1e1e1e;
}

.desplegable {
  background: #1e1e1e;
  transform: translateX(-140%);
  transition: transform 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  overflow: hidden;
  transition: width 0.5s;
}

.abrir_menu {
  transform: translateX(-25%);
}

.barras {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
  display: block;
}

ul li a:hover {
  background: #a9a9a9;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.auth-buttons {
  display: row;
  gap: 10px;
  
}

.auth-buttons .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 9px;
  border-radius: 15px;
  cursor: pointer;
}

.auth-buttons .btn:hover {
  background-color: #45a049;
}

@media (max-width: 850px) {
  .barras {
    background: #1e1e1e;
    display: block;
  }

  .desplegable {
    font-size: 1.5rem;
    width: 25%;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(4px);
  }

  ul {
    padding: 0;
    margin: 0;
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 2px;
    border: none;
  }
  .logo-nombre {
    display: flex;
    align-items: center;
  }
  .ku {
    color: white;
  }
  
  .ryu {
    color: red;
  }
  
  
  .nombre_logo {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }  
  .boton_menu {
    background-image: url('./images/logooficial.png');
    background-repeat: no-repeat;
    height: 29px;
    width: 30px;
    background-size: 30px;
    background-position: center;
  }

  .auth-buttons {
    flex-direction: column;
  }
}
